html,
body {
    width: 100%;
    height: 100%;
}
body {
    position: relative;
    background: url(../images/background-laveneno.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.game-panel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.game-panel .panel-actions .panel-winner .panel-gameover {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    min-width: 30px;
    padding: 5px 10px;
    margin-left: 35%;    
}

#btn-start {   
    font-weight: bold;
    font-family: Calibri;
    border-bottom-color: #b91d1d;
    box-shadow: 5px 5px 3px #7b0303;
    outline: none; 
    cursor: pointer;
    transition: all 0.6s ease;
    border-radius: 10px;
    border: solid #ff002f;
    background: #ff0000;
    padding: 5px; 
    width: 150px; 
    height: 30px;
    color: white;  
}

.hidden {
    display: none;
}

